* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.main {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.tool-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
}

.tool-bar input[type="number"] {
  width: 50px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.nav-styles, .nav-links {
  padding: 0.5rem 2rem;
}

.nav-styles span, .nav-links span{
  background-color: #ccc;
  padding: 0.3rem 1rem;
  margin: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.nav-styles span:hover, .nav-links span:hover {
  background-color: #aaa;
}

.editor-area {
  display: flex;
  padding: 10px;
}

.left,
.right {
  flex: 1;
}

.left {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.right {
  padding-left: 10px;
}

.editor-area .left textarea,
.editor-area .right .outcome {
  width: 100%;
  height: 700px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
